<app-header></app-header>
<div class="container">
  <button type="button" class="btn btn-primary" (click)="ejercicio2()">
    Ejercicio 2
  </button>
  <br />
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Titulo</th>
        <th>Director</th>
        <th scope="col">No Episodios</th>
        <th scope="col">Fecha de Creacion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let film of peliculas; let i = index">
        <th scope="row" (click)="detallesPelicula(film.url)">
          {{ film.title }}
        </th>
        <td>{{ film.director }}</td>
        <td>{{ film.episode_id }}</td>
        <td>{{ film.release_date }}</td>
      </tr>
    </tbody>
  </table>
</div>
<app-footer></app-footer>
